<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Watch Face Service -->
        <service
            android:name=".IoSyncWatchFaceService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_circular" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
        </service>

        <!-- Watch Face Configuration Activity -->
        <activity
            android:name=".WatchFaceConfigActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.iosync.watchface.CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Health Services Passive Listener -->
        <service
            android:name=".health.HealthPassiveDataService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Data Layer listener for complication data -->
        <service
            android:name=".datalayer.WatchFaceDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/iosync"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>
